.Vue-Toastification__container.ToastOverride {
  bottom: env(safe-area-inset-bottom);
  left: env(safe-area-inset-left);
  margin: 0;
  padding: 0 20px;
  right: env(safe-area-inset-right);
  width: unset;

  .Vue-Toastification__toast {
    max-width: unset;
    width: 100%;
  }
}
